.mainContainer {
  max-width: 800px;
  margin-top: 210px;
  padding-inline: 20px;
}

.mainContainer > h3 {
  margin-bottom: 50px;
}

.chapterContainer {
  display: grid;
  gap: 15px;
  justify-items: center;
  grid-template-columns: repeat(7, minmax(70px, 1fr));
  flex-grow: 1;
}

.chapter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 45px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgb(225, 225, 225);
  font-weight: 500;
}

.chapter:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.loading {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 1000px) {
  .chapterContainer {
    grid-template-columns: repeat(6, minmax(70px, 1fr));
  }
}

@media (max-width: 800px) {
  .chapterContainer {
    grid-template-columns: repeat(6, minmax(70px, 1fr));
  }
}

@media (max-width: 600px) {
  .chapterContainer {
    grid-template-columns: repeat(5, minmax(60px, 1fr));
  }
}

@media (max-width: 450px) {
  .chapterContainer {
    grid-template-columns: repeat(4, minmax(60px, 1fr));
  }
}

@media (max-width: 350px) {
  .chapterContainer {
    grid-template-columns: repeat(4, minmax(50px, 1fr));
  }
}
