.mainContainer {
  max-width: 800px;
  margin-inline: 10px;
}

h3 {
  margin-bottom: 50px;
}

.translationsContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  flex-grow: 1;
}

.translation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 0 1px 1px rgb(225, 225, 225);
}

.title {
  font-size: 1.2em;
  font-weight: 600;
}

.subtitle {
  color: gray;
}

button {
  margin-top: 30px;
}
