.navBar {
  position: fixed;
  top: 70px;
  left: 0;
  height: 35px;
  width: 100vw;
  background-color: #fff;
  z-index: 1000;
  align-content: center;
}

.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding-inline: 15px;
}

.icon {
  height: 10px;
}

.bold {
  font-weight: 600;
  color: black;
}

.link {
  font-weight: 400;
  color: black;
}
