.mainContainer {
  position: fixed;
  top: 105px;
  left: 0;
  width: 100vw;
  z-index: 1;
  margin: auto;
  background-color: white;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  max-width: 800px;
  margin-inline: auto;
  z-index: 1;
  padding-inline: 15px;
}

.previousButton,
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 10px;
}

.nullButton {
  width: 60px;
}
